






body {
  padding-top: 330px;

}

.sticky-shrinknav-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  height: 3.75rem;
  line-height: 3.75rem;
  width: 100%;
  background-color: #fefefe;
  transition: all 0.5s ease;
}

.sticky-shrinknav-menu li {
  border-radius: 2px;
  transition: all 0.3s ease;
}

.sticky-shrinknav-menu li:hover {
  box-shadow: 0 0 0 1px #f0a4fc;
}

.sticky-shrinknav-menu a {
  color: #f0a4fc;
}

.sticky-shrinknav-header-title {
  transition: all 0.3s ease;
  position: relative;
  -webkit-transform: translateY(-1.875rem);
      -ms-transform: translateY(-1.875rem);
          transform: translateY(-1.875rem);
  margin-bottom: 0;
  color: #f0a4fc;
}

.sticky-shrinknav-header {
  z-index: 3;
  width: 100%;
  height: 300px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fefefe;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

body.sticky-shrinknav-wrapper {
  padding-top: 130px;
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header {
  height: 3.75rem;
  background-color: rgba(23, 121, 186, 0.9);
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header .sticky-shrinknav-header-title {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  transition: all 0.3s ease;
}

/*Animation*/


/*shop*/


.card-product:hover .card-product-img-wrapper img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.card-product:hover .card-product-img-wrapper .button {
  -webkit-transform: translateY(-3rem);
      -ms-transform: translateY(-3rem);
          transform: translateY(-3rem);
}

.card-product-img-wrapper {
  margin-bottom: 1.375rem;
  position: relative;
  overflow: hidden;
}

.card-product-img-wrapper .button {
  transition: all 0.2s ease;
  background-color: #767676;
  padding: 1rem 0.5rem;
  bottom: -3rem;
  -webkit-transform: translateY(3rem);
      -ms-transform: translateY(3rem);
          transform: translateY(3rem);
  position: absolute;
  z-index: 2;
  color: #fefefe;
  margin-bottom: 0;
}

.card-product-img-wrapper .button:hover {
  background-color: #1779ba;
}

.card-product-img-wrapper img {
  transition: all 0.2s ease;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  width: 100%;
}

.card-product-img-wrapper .card-product-name {
  font-size: 1.375rem;
}

.card-product-img-wrapper .card-product-price {
  font-weight: bold;
}

.card-product-img-wrapper .card-product-description {
  color: #8a8a8a;
  font-size: 0.875rem;
  margin-bottom: 0;
}


.card-product {
  margin: 60px;
}


/*product*/



.product-image-gallery {
  background-color: #fefefe;
  padding: 1.5rem;
}

.pdp-product-image {
  margin-bottom: 20px;
}

.product-thumbs a {
  margin-left: 8px;
  margin-right: 8px;
  padding: 0 !important;
}

.product-thumbs a img {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  border: none;
}





.product-details {
  background-color: #fefefe;
  padding: 2rem;
}

.product-option-selection input[type=radio] {
  display: none;
  margin: 10px;
}

.product-option-selection input[type=radio] + label {
  display: inline-block;
  margin: -2px;
  border-color: #ddd;
  margin-right: 0.3rem;
  margin-top: 2px;
  margin-bottom: 10px;
  padding: 0.4rem;
}

.product-option-selection input[type=radio]:checked + label {
  background: #b6ddf6;
  border: 1px solid #1779ba;
  border-radius: 3px;
  color: #3d3d3d;
  font-weight: 600;
  padding: 0.3rem;
}

.product-details-add-to-cart {
  margin-top: 1rem;
  border-radius: 5px;
  background-color: #fefefe;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #e6e6e6;
  margin-bottom: 25px;
  padding: 22px;
}

.product-details-add-to-cart .in-stock {
  color: #1eac60;
  font-weight: 700;
}

.product-details-add-to-cart .dim-text {
  color: #8a8a8a;
}

.product-details-add-to-cart .price {
  float: right;
  font-weight: 600;
  font-size: 24px;
  color: #4a4a4a;
}

.product-details-add-to-cart .qty {
  width: 60px;
  display: inline-block;
  text-align: center;
  margin-left: 15px;
  margin-bottom: 0;
}

.product-details-add-to-cart .button {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 600;
}

.product-box {
  margin: 50px;
}


/*cart*/

#cart {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 12px;
}




.checkout-summary {
  max-width: 500px;
  background-color: #fefefe;
}

.checkout-summary-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border: 1px solid #e6e6e6;
}

.checkout-summary-item {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.checkout-summary-item .item-name,
.checkout-summary-item .item-price {
  padding: 0 1rem;
}

.checkout-summary-item .item-name p,
.checkout-summary-item .item-price p {
  margin: 0;
  padding: 0;
}

.checkout-summary-item .title {
  font-weight: bold;
}

.checkout-summary-details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border: 1px solid #e6e6e6;
  border-top: none;
}


/*checkout*/


.multi-step-checkout-process-step {
  margin-top: 20px;
  margin-bottom: 3rem;
}

@media screen and (max-width: 39.9375em) {
  .multi-step-checkout-process-step {
    padding-right: 0rem;
  }
}

.multi-step-checkout-process .accordion-title {
  color: #3e3e3e;
  font-size: 1.25rem;
  transition: color 0.5s ease;
  border: none;
  font-family: 'Droid serif', serif;
}

.multi-step-checkout-process .accordion-title:hover, .multi-step-checkout-process .accordion-title:active, .multi-step-checkout-process .accordion-title:focus {
  color: #242424;
  transition: color 0.5s ease;
  background: none;
}

.multi-step-checkout-process :last-child:not(.is-active) > .accordion-title {
  border: none;
}

.multi-step-checkout-process .accordion-item {
  border-bottom: 1px solid #e6e6e6;
  padding-right: 0.8rem;
}

.multi-step-checkout-process .accordion-item:first-child() {
  border-top: 1px solid #e6e6e6;
}

.multi-step-checkout-process .accordion-item.is-active {
  border: 1px solid #e6e6e6;
  border-top: 3px solid #1779ba;
  border-radius: 3px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.multi-step-checkout-process .accordion-item .accordion-title {
  font-weight: 400;
}

.multi-step-checkout-process .accordion-item .accordion-title::before {
  right: 0.5rem;
}

.multi-step-checkout-process .accordion-content {
  border: none;
  padding-left: 35px;
}

.multi-step-checkout-process :last-child > .accordion-content:last-child {
  border-bottom: none;
}

.multi-step-checkout-step-title-subheader {
  color: #a4a4a4;
  font-size: 0.9rem;
  display: inline-block;
  margin-left: 10px;
  font-family: 'Open sans', serif;
}

.multi-step-checkout-step-subheader {
  color: #3e3e3e;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: 'Open sans', sans-serif;
}

.multi-step-checkout-step-subdesc {
  color: #8a8a8a;
  font-size: 0.9rem;
}

.multi-step-checkout-shipping-option {
  margin-bottom: 10px;
}

.multi-step-checkout-step-section {
  border-bottom: 1px dashed #e6e6e6;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.multi-step-checkout-shipping-option-selection {
  position: absolute;
  margin-top: 0.2rem;
}

.multi-step-checkout-shipping-option-title {
  display: block;
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin-left: 1.6rem;
  margin-bottom: 0.8rem;
}

.multi-step-checkout-shipping-option-desc {
  font-size: 0.9rem;
  color: #8a8a8a;
  margin-left: 25px;
  margin-top: -10px;
}

.multi-step-checkout-shipping-cost {
  text-align: right;
}

.multi-step-checkout-form-divider {
  border-bottom: 1px dashed #e6e6e6;
}

.multi-step-checkout-form input {
  background: #f8f8f8;
}

.multi-step-checkout-enews-sign-up label {
  position: relative;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.multi-step-checkout-enews-sign-up-checkbox {
  position: absolute;
  margin-top: 0.4rem;
}

.multi-step-checkout-credit-card-info label span {
  color: #a4a4a4;
}

.multi-step-checkout-payment-icons {
  list-style: none;
  margin-left: 0;
  margin-bottom: 1rem;
}

.multi-step-checkout-payment-icons li {
  display: inline;
}

.multi-step-checkout-billing-address .multi-step-checkout-billing-address-list {
  list-style: none;
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  color: #8a8a8a;
  font-size: 0.9rem;
}

.multi-step-checkout-billing-address .multi-step-checkout-billing-address-checkbox {
  position: absolute;
  margin-top: 0.4rem;
}

.multi-step-checkout-billing-address label {
  margin-left: 1.5rem;
}

.multi-step-checkout-create-account {
  margin-top: 2rem;
}

@media screen and (max-width: 39.9375em) {
  .multi-step-checkout-create-account {
    margin-top: 0.5rem;
  }
}

.multi-step-checkout-create-account .create-account-desc {
  font-size: 0.9rem;
  color: #8a8a8a;
}

.multi-step-checkout-logo {
  width: 118px;
  height: 38px;
}

.multi-step-checkout-arrow {
  height: 13px;
  width: 13px;
}
