






body {
  padding-top: 330px;

}

.sticky-shrinknav-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  height: 3.75rem;
  line-height: 3.75rem;
  width: 100%;
  background-color: #fefefe;
  transition: all 0.5s ease;
}

.sticky-shrinknav-menu li {
  border-radius: 2px;
  transition: all 0.3s ease;
}

.sticky-shrinknav-menu li:hover {
  box-shadow: 0 0 0 1px #f0a4fc;
}

.sticky-shrinknav-menu a {
  color: #f0a4fc;
}

.sticky-shrinknav-header-title {
  transition: all 0.3s ease;
  position: relative;
  -webkit-transform: translateY(-1.875rem);
      -ms-transform: translateY(-1.875rem);
          transform: translateY(-1.875rem);
  margin-bottom: 0;
  color: #f0a4fc;
}

.sticky-shrinknav-header {
  z-index: 3;
  width: 100%;
  height: 300px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fefefe;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

body.sticky-shrinknav-wrapper {
  padding-top: 130px;
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header {
  height: 3.75rem;
  background-color: rgba(23, 121, 186, 0.9);
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header .sticky-shrinknav-header-title {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  transition: all 0.3s ease;
}

/*Animation*/


/*shop*/


.card-product:hover .card-product-img-wrapper img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.card-product:hover .card-product-img-wrapper .button {
  -webkit-transform: translateY(-3rem);
      -ms-transform: translateY(-3rem);
          transform: translateY(-3rem);
}

.card-product-img-wrapper {
  margin-bottom: 1.375rem;
  position: relative;
  overflow: hidden;
}

.card-product-img-wrapper .button {
  transition: all 0.2s ease;
  background-color: #767676;
  padding: 1rem 0.5rem;
  bottom: -3rem;
  -webkit-transform: translateY(3rem);
      -ms-transform: translateY(3rem);
          transform: translateY(3rem);
  position: absolute;
  z-index: 2;
  color: #fefefe;
  margin-bottom: 0;
}

.card-product-img-wrapper .button:hover {
  background-color: #1779ba;
}

.card-product-img-wrapper img {
  transition: all 0.2s ease;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  width: 100%;
}

.card-product-img-wrapper .card-product-name {
  font-size: 1.375rem;
}

.card-product-img-wrapper .card-product-price {
  font-weight: bold;
}

.card-product-img-wrapper .card-product-description {
  color: #8a8a8a;
  font-size: 0.875rem;
  margin-bottom: 0;
}


.card-product {
  margin: 60px;
}


/*product*/



.product-image-gallery {
  background-color: #fefefe;
  padding: 1.5rem;
}

.pdp-product-image {
  margin-bottom: 20px;
}

.product-thumbs a {
  margin-left: 8px;
  margin-right: 8px;
  padding: 0 !important;
}

.product-thumbs a img {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  border: none;
}





.product-details {
  background-color: #fefefe;
  padding: 2rem;
}

.product-option-selection input[type=radio] {
  display: none;
  margin: 10px;
}

.product-option-selection input[type=radio] + label {
  display: inline-block;
  margin: -2px;
  border-color: #ddd;
  margin-right: 0.3rem;
  margin-top: 2px;
  margin-bottom: 10px;
  padding: 0.4rem;
}

.product-option-selection input[type=radio]:checked + label {
  background: #b6ddf6;
  border: 1px solid #1779ba;
  border-radius: 3px;
  color: #3d3d3d;
  font-weight: 600;
  padding: 0.3rem;
}

.product-details-add-to-cart {
  margin-top: 1rem;
  border-radius: 5px;
  background-color: #fefefe;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #e6e6e6;
  margin-bottom: 25px;
  padding: 22px;
}

.product-details-add-to-cart .in-stock {
  color: #1eac60;
  font-weight: 700;
}

.product-details-add-to-cart .dim-text {
  color: #8a8a8a;
}

.product-details-add-to-cart .price {
  float: right;
  font-weight: 600;
  font-size: 24px;
  color: #4a4a4a;
}

.product-details-add-to-cart .qty {
  width: 60px;
  display: inline-block;
  text-align: center;
  margin-left: 15px;
  margin-bottom: 0;
}

.product-details-add-to-cart .button {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 600;
}

.product-box {
  margin: 50px;
}


/*cart*/

#cart {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 12px;
}




.checkout-summary {
  max-width: 500px;
  background-color: #fefefe;
}

.checkout-summary-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border: 1px solid #e6e6e6;
}

.checkout-summary-item {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.checkout-summary-item .item-name,
.checkout-summary-item .item-price {
  padding: 0 1rem;
}

.checkout-summary-item .item-name p,
.checkout-summary-item .item-price p {
  margin: 0;
  padding: 0;
}

.checkout-summary-item .title {
  font-weight: bold;
}

.checkout-summary-details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border: 1px solid #e6e6e6;
  border-top: none;
}
