<div class="grid-container">
  <div class="grid-x ">

    <div class="large-6 cell">
      <div class="card card-product">
        <div class="card-product-img-wrapper">
          <a class="button expanded">Add to Cart</a>
          <a href="#"><img src="http://placehold.it/180x180"></a>
        </div>
        <div class="card-section">
          <a href="#"><h3 class="card-product-name">Kickin with Kraken Tee</h3></a>
          <h5 class="card-product-price">$19.99</h5>
          <p class="card-product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.</p>
        </div>
      </div>


    </div>

    <div class="large-6 cell">
      <div class="card card-product">
        <div class="card-product-img-wrapper">
          <a class="button expanded">Add to Cart</a>
          <a href="#"><img src="http://placehold.it/180x180"></a>
        </div>
        <div class="card-section">
          <a href="#"><h3 class="card-product-name">Kickin with Kraken Tee</h3></a>
          <h5 class="card-product-price">$19.99</h5>
          <p class="card-product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.</p>
        </div>
      </div>
    </div>



  </div>
</div>
